@model Ch06.TagHelpers.Models.ViewModelBase

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>@Model.Title</title>
    <link rel="stylesheet" href="~/Content/Styles/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/Styles/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Styles/Site/site.css" />
    <link rel="stylesheet" href="~/Content/Styles/Site/bootstrap-extensions.css" />
    <link rel="stylesheet" href="~/Content/Styles/typeahead.css" />
    <link rel="icon" href="~/favicon.ico">
    <script src="~/Content/Scripts/jquery.min.js"></script>
    <script src="~/Content/Scripts/tether.min.js"></script>
    <script src="~/Content/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/Scripts/starter-kit.js?v1"></script>
    <script src="~/Content/Scripts/typeahead.bundle.min.js"></script>
    <script src="~/Content/Scripts/typeahead.container.js"></script>
    @*<script type="text/javascript" src="//wurfl.io/wurfl.js"></script>*@
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="@Url.Action("index", "home")" class="navbar-brand">
                <i class="fa fa-home"></i>
                @Model.Title
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <!-- MENU -->
            </ul>
        </div>
            
    </div>
</div>

<div class="container">
    @RenderBody()

    <footer>
        <p>&copy; 2018 - Dino Esposito</p>
    </footer>
</div>
    
</body>
</html>

