<!DOCTYPE html>
 
<html>
<head>
    <meta name="viewport" content="width=device-width" />   
    <title>Programming ASP.NET Core</title>
</head>
<body>
<div>
    <h1>PROGRAMMING ASP.NET CORE</h1>
    <hr/>
    @RenderBody()
</div>
</body>
</html>
