@page "/"


<h1>Welcome to COUNTRY-FINDER</h1>

<div class="text-muted mb-5">Refresh your geography skills</div>


<CountrySelector uniqueId="cs"
                 tip="You can also type the continent name"
                 placeholder="Start typing the country name"
                 typeAheadUrl="/hint/countries" />

<div class="mt-5"></div> 
