<div class="jumbotron text-center mt-5">
    <h1 class="display-3">WELCOME Bootstrap 4</h1>
    <p class="text-muted" style="font-size: 1.2rem">Dino Esposito</p>
</div>

<div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <a role="button" class="btn btn-secondary btn-block" href="#">
            <h4 style="margin: 0; line-height: 16px">Action #1</h4>
            <small class="text-light">Desscription of the action</small>
        </a>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <a role="button" class="btn btn-secondary btn-block" href="#">
            <h4 style="margin: 0; line-height: 16px">Another task</h4>
            <small class="text-light">What the task will do</small>
        </a>
    </div>
</div>



