@using Ch11.SimpleForms.Models
@model Ch11.SimpleForms.Models.HomeViewModel

<div class="col-xs-12 col-md-8 col-md-offset-2">
    <h1>FORMS</h1>
    <a role="button" class="btn btn-lg btn-primary" href="@Url.Action("multiple", "demo")">
        Multiple buttons
    </a>
    <a role="button" class="btn btn-lg btn-primary" href="@Url.Action("large", "demo")">
        Large forms
    </a>
    <a role="button" class="btn btn-lg btn-primary" href="@Url.Action("UploadForm", "demo")">
        Upload forms
    </a>
</div>