<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" style="margin-top: 30px">

    <form class="form-horizontal" method="post" action="@Url.Action("email", "binding")">
        <fieldset>
            <legend>Your Emails</legend>

            <!-- EMAIL 1 -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="email1">EMAIL #1</label>
                <div class="col-md-4">
                    <input name="email" id="email1" class="form-control input-md" type="text">
                </div>
            </div>

            <!-- EMAIL 2 -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="email2">EMAIL #2</label>
                <div class="col-md-4">
                    <input name="email" id="email2" class="form-control input-md" type="text">
                </div>
            </div>

            <!-- EMAIL 3 -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="email3">EMAIL #3</label>
                <div class="col-md-4">
                    <input name="email" id="email3" class="form-control input-md" type="text">
                </div>
            </div>

            <button class="btn btn-primary btn-lg">SAVE</button>
        </fieldset>
    </form>

</div>