@using System.Globalization
<!DOCTYPE html>
 
<html>
<head>
    <meta name="viewport" content="width=device-width" />   
</head>
<body>
<div>
    <h1>PROGRAMMING ASP.NET CORE</h1>
    @CultureInfo.CurrentUICulture.Name 
    @RenderBody()
</div>
</body>
</html>
