@using TypeAhead.Shared
@page "/fetchdata"
@inject HttpClient Http

<h1>Typeahead component</h1>

<autocomplete url="#" placeholder="Type something" ></autocomplete>


@functions {
    WeatherForecast[] forecasts;

    protected override async Task OnInitAsync()
    {
        forecasts = await Http.GetJsonAsync<WeatherForecast[]>("api/SampleData/WeatherForecasts");
    }
}
