@model Ch08.Autho.Models.IndexViewModel

<h2>
    Welcome to the secret page!
</h2>

<a role="button" 
   class="btn btn-primary" 
   asp-controller="Secret"
   asp-action="admin1">
    Try to perform an admin-only task
</a>

<a role="button"
   class="btn btn-primary"
   asp-controller="Secret"
   asp-action="guest1">
    Regular task
</a>
