@model Ch08.Authorz.Models.IndexViewModel

<h2 class="text-warning">
    This page is only for admins with special hair!
</h2>
<h4>
    @{
        var claim = User.FindFirst("Hair").Value;
    }
    @claim
</h4>
