<!-- Email 1 -->
<div class="form-group has-feedback" id="large-form-group-email1">
    <label class="col-sm-2 control-label" for="email1">Email #1</label>
    <div class="col-sm-8">
        <input type="text" class="form-control"
               id="email1" name="email"
               placeholder="Email">
        <i class="fa fa-envelope form-control-feedback"></i>
        <span class="block text-info">???</span>
    </div>
</div>

<!-- Email 2 -->
<div class="form-group has-feedback" id="large-form-group-email2">
    <label class="col-sm-2 control-label" for="email2">Email #2</label>
    <div class="col-sm-8">
        <input type="text" class="form-control"
               id="email2" name="email"
               placeholder="Email">
        <i class="fa fa-envelope form-control-feedback"></i>
        <span class="block text-info">???</span>
    </div>
</div>

<!-- Email 3 -->
<div class="form-group has-feedback" id="large-form-group-email3">
    <label class="col-sm-2 control-label" for="email3">Email #3</label>
    <div class="col-sm-8">
        <input type="text" class="form-control"
               id="email3" name="email"
               placeholder="Email">
        <i class="fa fa-envelope form-control-feedback"></i>
        <span class="block text-danger">???</span>
    </div>
</div>