<div class="text-center" style="padding: 10px">
    <h4>
        This is the view you intend to display to users
        coming your way using a
        <b class="text-primary">desktop</b> browser.
    </h4>
</div>

