@page "/"

<h1>Hello, Blazor!</h1>

Welcome to your first BLAZOR app. (version 0.4.0)

<div class="dropdown"> 
    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
        DETAILS
    </button>
    <div class="dropdown-menu bg-info">
        <div class="p-5">
            This content come from a Razor view (index) and is merged with layout.
        </div>
    </div>
</div>

