@using Microsoft.AspNetCore.Blazor.Components

<div class="typeahead-container">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
            find
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
</div>

@functions {
    [Parameter]
    string Placeholder { get; set; } = "";

    [Parameter]
    string Url { get; set; } = "";

}
