

<h1 class="mt-5 text-center" id="title">
    <p style="margin-top: 100px">Cards</p>
</h1>


<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h3>I am the body of a very basic card</h3>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="card">
            <img class="card-img-top" src="~/content/images/poppies-xs.jpg">
            <div class="card-body">
                <h3 class="card-title">I am the body of a not-so-simple card</h3>
                <h4 class="card-subtitle">I am the subtitle</h4>
                <p class="card-text">
                    I am plain text
                </p>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">I am the body of a not-so-simple card</h3>
                <h4 class="card-subtitle">I am the subtitle</h4>
                <p class="card-text">
                    I am plain text
                </p>
                <a href="#" class="card-link">First link</a>
                <a href="#" class="card-link">Second link</a>
                <a href="#" class="card-link">Third link</a>
            </div>
            <img class="card-img-bottom" src="~/content/images/eveningsea.jpg">
        </div>
    </div>
    <div class="row mt-5">
        <div class="card">
            <img class="card-img" src="~/content/images/poppies-xs.jpg">
            <div class="card-body">
                <h3 class="card-title">I am the body of a not-so-simple card</h3>
                <div class="card-img-overlay">
                    <h4 class="card-subtitle">I am the subtitle</h4>
                    <p class="card-text">
                        I am plain text
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="card">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h3 class="card-title">I am the body of a not-so-simple card</h3>
                <div>
                    <h4 class="card-subtitle">I am the subtitle</h4>
                    <p class="card-text">
                        I am plain text
                    </p>
                </div>
            </div>
            <div class="card-footer">Footer</div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Actual content</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Just a link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    Fake tabstrip in the header
                </h5>
            </div>
        </div>
    </div>
    
    <div class="row mt-5">
        <div class="card">
            <div class="card-header">Tabstrip</div>
                <div class="card-body">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile">Profile</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane show active" id="home">
                            <div class="p-5">
                                <h1>One</h1>
                            </div>
                        </div>
                        <div class="tab-pane" id="profile">
                            <div class="p-5">
                                <h1>Two</h1>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

<div style="margin-bottom: 30px"></div>
