

@model Bs4.Models.ViewModelBase

@section adhoc_Css {
    
}

@section adhoc_Scripts_Top {
    
}

<h1 class="mt-5 text-center" id="title">
    <p style="margin-top: 100px">PAGING</p>
</h1>


<div class="container">
    <div id="list-of-countries">
        <!-- dynamically populated upon page loading -->
    </div>
</div>

<div style="margin-bottom: 30px"></div>

<script>
    function setup() {
        $(".table-hover").css("cursor", "pointer");
        $(".table-hover td").click(function () {
            var isClickable = $(this).data("noselect");
            if (isClickable === true)
                return;
            var id = $(this).parent().data("id");
            //alert("Selected country is: " + id);
            window.location.href = "http://www.google.com";
        });
    }
</script>

<script type="text/javascript">
    function _page(index, filter) {     
        new PaginatorContainer({
            pagingUrl: "/country/list",
            gridSelector: '#list-of-countries',
            loaderSelector: '#loader',
            sessionStorageId: 'list-of-countries',
            gridInitializer: setup
        }).go(index, filter);
    }

    _page();    // last used or first
</script>