
<h1 class="mt-5 text-center" id="title">
    <p style="margin-top: 100px">FILE upload</p>
</h1>

<div>
    <div class="ybq-inputfile">
        <input type="file" class="form-control" 
               accept="image/png, image/jpeg"
               id="photo" name="photo">
        <input type="hidden" 
               id="photo-isdefined" name="photoisdefined" 
               value="false" />
        <div class="pull-left">
            <img id="photo-preview"
                 style="max-height: 100px"
                 onerror="Ybq.imgLoadError(this)" />
            <div class="ybq-inputfile-placeholder" id="photo-placeholder">
                PHOTO
            </div>
        </div>
        <div class="pull-left ybq-inputfile-toolbar">
            <button class="btn btn-danger" id="photo-remover">
                <i class="fa fa-close"></i>
            </button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<hr/>
