
<script src="/Content/scripts/dropzone.js"></script>

<h1 class="mt-5 text-center" id="title">
    <p style="margin-top: 100px">FILE upload</p>
</h1>

<div>
    <div class="image-selector">
        <input type="file" class="form-control" data-image-max-width="200px"
               accept="image/png, image/jpeg"
               id="contactphoto" name="contactphoto">
        <input type="hidden" 
               id="contactphoto-isdefined" name="contactphotoisdefined" 
               value="false" />
        <div class="pull-left">
            <img id="contactphoto-preview"
                 style="max-height: 100px"
                 onerror="Ybq.imgLoadError(this)" />
            <div class="image-selector-placeholder" id="contactphoto-placeholder">
                PHOTO
            </div>
        </div>
        <div class="pull-left image-selector-toolbar">
            <button class="btn btn-danger" id="contactphoto-remover">
                <i class="fa fa-close"></i>
            </button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<hr/>

