
@section adhoc_Scripts_Bottom {
    <script src="~/content/scripts/site/ybq-forms-bs4.js?v=1"></script>
}
@section adhoc_Css {
    <link href="~/content/styles/ybq-forms.css" rel="stylesheet" />
}

<h1 class="text-center" id="title">
    <p>SMART FORM</p>
</h1>

<div class="col-sm-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">

    <form class="ybq-form">
        <div class="row">
            <div style="height: 300px; border: solid 1px #111; overflow-y: auto;">
                <button type="button"
                        class="btn btn-primary ybq-form-submit">Submit</button>

                <div class="ybq-form-header"></div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username"
                           data-rule="{val}.length > 0"
                           placeholder="User name" value="Dino">
                    @*<div class="valid-feedback">
                Looks good!
            </div>*@
                    <div class="invalid-feedback">
                        Name is a required field
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                    <div class="invalid-feedback">
                        Name is a required field
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Email address" value="user@server.com">
                    <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                    <div class="invalid-feedback">
                        Doesn't seem to be a valid email address
                    </div>
                </div>
                <div class="form-group">
                    <label for="website">Web site</label>
                    <input type="url" class="form-control" id="website" placeholder="Web site" value="http://www.server.com">
                    <div class="invalid-feedback">
                        Doesn't seem to be a valid URL
                    </div>
                </div>
                <div class="form-group">
                    <label for="number">Family members</label>
                    <input type="number" class="form-control" id="number" maxlength="1" min="1" max="10"
                           placeholder="Family members" value="1">
                    <small class="form-text text-muted">1 to 10</small>
                </div>
                <div class="form-group">
                    <label for="phone">Phone number</label>
                    <input type="tel" class="form-control" id="phone" maxlength="10"
                           placeholder="Family members" value="1">
                    <div class="invalid-feedback">
                        Doesn't seem to be a phone number
                    </div>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="rememberme" checked>
                    <label class="form-check-label" for="rememberme">Remember me</label>
                </div>
                <div class="form-group">
                    <label for="age">My age</label>
                    <input type="range" class="form-control-range" id="age">
                </div>
            </div>
        </div>
    </form>

</div>
