
<h1 class="mt-5 text-center" id="title">
    <p style="margin-top: 100px">MEDIA Objects</p>
</h1>


<div class="container bg-light">
    <div class="media border border-dark">
        <img class="img-fluid"
             style="width: 120px;"
             src="~/content/images/poppies.jpg" alt="Poppy field">
        <div class="media-body align-self-end ml-3">
            One of my favorite<br />spring pics
        </div>
    </div>
    <div class="media mt-2 border border-dark">
        <div class="media-body align-self-center ml-3">
            <h5>Tracks</h5>
            Tracks<br />of my train station
        </div>
        <img class="align-self-center img-fluid"
             style="width: 120px;"
             src="~/content/images/tracks.jpg" alt="Running tracks">
    </div>
    
</div>

