@inherits Microsoft.AspNetCore.Blazor.Layouts.BlazorLayoutComponent

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <LoggedUser />
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
