@page
    
<div class="row">

    <div class="col-xs-12 col-sm-4 text-center">
        <img src="Content/images/progcore.jpg" class="img-responsive text-center" />
    </div>
    <div class="col-xs-12 col-sm-8">
        <h4>
            <a href="http://github.com/despos/progcore" 
               target="_blank">
                <i class="fa fa-github"></i>&nbsp;
                SOURCE CODE
            </a>
        </h4>
        <hr />
        <h3>CHAPTERS</h3>
        <ol>
            <li>Why Another (ASP).NET?</li>
            <li>The First ASP.NET Core Project</li>
            <li>Bootstrapping ASP.NET MVC</li>
            <li>ASP.NET MVC Controllers</li>
            <li>ASP.NET MVC Views</li>
            <li>The Razor Syntax</li>
            <li>Design Considerations</li>
            <li>Securing your Application</li>
            <li>Access to Application Data</li>
            <li>Designing a Web API</li>
            <li>Posting Data from the Client Side</li>
            <li>Client-side Data Binding</li>
            <li>Building Device-friendly Views</li>
            <li>The ASP.NET Core Runtime Environment</li>
            <li>Deploying an ASP.NET Core Application</li>
            <li>Migration and Adoption Strategies</li>
        </ol>
    </div>
</div>

