<div class="jumbotron text-center">
    <p style="font-size: 3em; margin: 0; line-height: 40px"><b>ASP.NET Core SignalR</b></p>
    <p style="font-size: 2em; margin: 0; line-height: 30px">Demos v1.0.0-preview1-final</p>
    <p class="text-muted">Dino Esposito</p>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <a role="button" class="btn btn-default btn-block" href="@Url.Action("progress", "demo")">
            <h4 style="margin: 0; line-height: 16px">Remote Task</h4>
            <small class="text-muted">Dispatch via controllers</small>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <a role="button" class="btn btn-default btn-block" href="@Url.Action("updater", "demo")">
            <h4 style="margin: 0; line-height: 16px">UI Updates</h4>
            <small class="text-muted">CQRS scenarios</small>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <a role="button" class="btn btn-default btn-block" href="@Url.Action("clock", "demo")">
            <h4 style="margin: 0; line-height: 16px">Clock</h4>
            <small class="text-muted">Broadcast</small>
        </a>
    </div>
</div>



