@using CountryFinder.Shared.Model
@page "/"

@*<h1>TWO WAYS of TYPING AHEAD</h1>

    <a class="btn btn-primary" href="/jstype">Using Twitter <b>typeahead</b></a>
    <a class="btn btn-primary" href="/fetchdata">Using custom <b>Blazor</b> component</a>*@

<a class="btn btn-primary" href="/paging">Paging demo</a>
