
@page "/cascade"

<h1>Bootstrap 4 Modals in ASP.NET Blazor</h1>
<Modal id="myModal" autoclose="true">
    <Toggle class="btn btn-primary btn-lg">
        Open
    </Toggle>
    <Content>
        <HeaderTemplate>  <!-- Case-sensitive names!!! -->
            Hello!
        </HeaderTemplate>
        <BodyTemplate>
            <h1>Blazor 0.7.0 rocks!!!</h1>
        </BodyTemplate>
        <FooterTemplate>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </FooterTemplate>
    </Content>
</Modal>


