@using System.Text
@using Forms.Shared
@using Microsoft.AspNetCore.Http

@page "/forecasts"
@inject HttpClient _http
@inject IHttpContextAccessor _httpContextAccessor


<h1>Weather forecasts</h1>

<table class="table">
    <tr>
        <td>NOW</td>
        <td>@CurrentWeather</td>
    </tr>
    @if (_httpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
    {
        <tr>
            <td>NEXT</td>
            <td>@((MarkupString)SerializeForecasts(NextDays))</td>
        </tr>
    }
</table>


@functions {
    WeatherForecast CurrentWeather = new WeatherForecast();
    IList<WeatherForecast> NextDays = new List<WeatherForecast>();


    protected async override Task OnInitAsync()
    {
        CurrentWeather = await _http.GetJsonAsync<WeatherForecast>("http://localhost:61543/weather/now");
        try
        {
            NextDays = await _http.GetJsonAsync<IList<WeatherForecast>>("http://localhost:61543/weather/forecasts");
        }
        catch (Exception ex)
        {

        }
    }

    private string SerializeForecasts(IList<WeatherForecast> forecasts)
    {
        var builder = new StringBuilder();
        foreach (var wf in forecasts)
        {
            builder.AppendFormat("{0}<br>", wf);
        }
        return builder.ToString();
        //return forecasts.ToString();
    }
}
