@page
@using Forms.Server.Pages
@model LoginViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>Log in</title>
    <base href="/" />
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="css/login.css" rel="stylesheet" />
</head>
<body>
    <app>
        <div class="sidebar">
            <div class="top-row pl-4 navbar navbar-dark">
                <a class="navbar-brand" href="">Forms</a>M
            </div>
        </div>

        <div class="main">
            <div class="content px-4">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 offset-md-4">
                            <h3 class="text-center login-title">Sign in to continue</h3>
                            <div class="account-wall">
                                <form class="form-signin" method="post">
                                    <input type="text" class="form-control" placeholder="User name" name="username" value="@Model.UserName" />
                                    <input type="password" class="form-control" placeholder="Password" name="password" value="@Model.Password" />
                                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                                        Sign in
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                @*<form id="account" method="post">
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                </form>*@

            </div>
        </div>
    </app>
</body>
</html>