
<a role="button" class="btn btn-primary" href="/geo.html">Current position</a>
<a role="button" class="btn btn-primary" href="/device.html">Current device</a>
<a role="button" class="btn btn-primary" href="/input.html">Input fields</a>
<a role="button" class="btn btn-primary" href="/datepicking.html">Date picking</a>
<a role="button" class="btn btn-primary" href="/images.html">Optimized images</a>
<a role="button" class="btn btn-primary" href="@Url.Action("pic", "home")">PICTURE</a>