
<h3><b>PICTURE</b> element in action</h3>

<picture>
    <source media="(min-width: 481px)" srcset="~/content/images/poppies_md.jpg" class="img-responsive">
    <source media="(max-width: 480px)" srcset="~/content/images/poppies_xs.jpg" class="img-responsive">
    <img src="~/content/images/poppies.jpg" alt="Poppies" class="img-responsive">
</picture>
